.canvas {
    margin: auto;
    background: #727e81;
    width: 240px;
    height: auto;
    min-height: 230px;
    color: rgb(255, 255, 255);
    padding: 30px;
    font-size: 24px;
    word-spacing: 13px;
    border-radius: 15px;
}

.default,
.half,
.ten,
.quarter,
.twenty,
.five,
.minutes,
.to,
.past,
.one,
.three,
.two,
.four,
.fiveh,
.six,
.seven,
.eight,
.nine,
.tenh,
.eleven,
.twelve,
.oclock {
    color: #5C5C5C;
    text-shadow: 0px 0px 10px #5C5C5C;
}

.default {
    color: white;
    text-shadow: 0px 0px 10px #fff;
}
